.section {
    background: var(--backgroundCustom);

    padding: 8rem 0 8rem 0;
}

.section__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}